body,h2,p {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.container {
    width: 1120px;
    margin: auto;
}
body {
    background-color: #E7DFD8;
    font-family: "inter", sans-serif;
}
.micimouse {
    padding: 99px 0;

}
.micimouse-container {
    display: flex;
    gap: 107px;
}
.micimouse-subtitle {
    display: flex;
    gap: 30px;
    align-items: center;
    line-height: 36px;
    padding-bottom: 28px;
}
.micimouse-title {
    font-size: 35px;
    line-height: 45.63px;
    letter-spacing: 1px;
    font-weight: 400;
    padding-bottom: 30px;
}
.micimouse-text {
    font-size: 14px;
    line-height: 22.08px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 35px;
}
.micimouse-link {
    color: black;
    display: inline-block;
    background-color: #B99FEA;
    font-size: 16px;
    line-height: 22.08px;
    padding: 10px 20px;
    border-radius: 8px;
}
.koko {
    padding: 99px 0;

}
.koko-container {
    display: flex;
    gap: 107px;
    flex-direction: row-reverse;
}
.koko-subtitle {
    display: flex;
    gap: 30px;
    align-items: center;
    line-height: 36px;
    padding-bottom: 28px;
}
.span1 {
    width: 74px;
    height: 74px;
    font-size: 38px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B99FEA;
    border-radius: 100px;
}
.span2 {
    width: 74px;
    height: 74px;
    font-size: 38px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBA789;
    border-radius: 100px;
}
.span3 {
    width: 74px;
    height: 74px;
    font-size: 38px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #96DBC6;
    border-radius: 100px;
}

.koko-title {
    font-size: 35px;
    line-height: 45.63px;
    letter-spacing: 1px;
    font-weight: 400;
    padding-bottom: 30px;
}
.koko-text {
    font-size: 14px;
    line-height: 22.08px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 35px;
}
.koko-link {
    color: black;
    display: inline-block;
    background-color: #EBA789;
    font-size: 16px;
    line-height: 22.08px;
    padding: 10px 20px;
    border-radius: 8px;
}
.vaiana {
    padding: 99px 0;

}
.vaiana-container {
    display: flex;
    gap: 107px;
}
.vaiana-subtitle {
    display: flex;
    gap: 30px;
    align-items: center;
    line-height: 36px;
    padding-bottom: 28px;
}
.vaiana-title {
    font-size: 35px;
    line-height: 45.63px;
    letter-spacing: 1px;
    font-weight: 400;
    padding-bottom: 30px;
}
.vaiana-text {
    font-size: 14px;
    line-height: 22.08px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 35px;
}
.vaiana-link {
    color: black;
    display: inline-block;
    background-color: #96DBC6;
    font-size: 16px;
    line-height: 22.08px;
    padding: 10px 20px;
    border-radius: 8px;
    }
    